################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WebInfo/v15
/packages
*/bin/Debug
*/obj/Debug
